{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">    
<title>MedicineGuide</title>
       
</head>

<body>
  {% include 'nav_bar.html' %}
  
  
    <h2 id="terms-list">Список терминов</h2>
    {% for letter, terms in all_nodes.items %}
  <h2 id="letter">{{ letter }}</h2>
  <div class="grid-container">
    {% for term in terms %}
      <div class="grid-item">
        <a id="grid-item-a" href="{% url 'term_detail_view' term %}">{{ term }}</a>
      </div>
    {% endfor %}
  </div>
{% endfor %}

  
 
</body>
</html>